.edite-page {
    position:fixed;
    top: 100px;
    left: 570px;
    right: 8px;
    max-height: 800px;
}

.title {
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

.matInput-full-width {
    width: 100%;
}