.file-lbl {
    position:fixed;
    right: 30px;
    top: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #5677fc;
}

.example-container {
    display: flex;
    flex-direction: column;
    /* min-width: 400px; */
    width: 550px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    height: 580px;
    /* min-height: 600px; */
    max-height: 800px;
  }
.list-label {
  font-size: 16px;
}