<mat-card class="toolbar-home">
  <button class="translotor-btn"
          mat-raised-button
          color="primary"
          (click)="jumpTranslatorPage()" >Translator</button>
  <button class="merge-btn"
          mat-raised-button
          color="accent"
          (click)="jumpMergePage()" >Merge File</button>
</mat-card>

<h1>Instructions</h1>
<mat-list role="list">
        <mat-list-item role="listitem">1. Only supports XLF files.</mat-list-item>
        <mat-list-item role="listitem">2. Have translation capabilities.</mat-list-item>
        <mat-list-item role="listitem">3. Can merge translation files to update existing files.</mat-list-item>
</mat-list>