<mat-card class="toolbar-home">
  <button class="translotor-btn"
          mat-raised-button
          color="primary"
          (click)="jumpTranslatorPage()" >Translator</button>
  <button class="merge-btn"
          mat-raised-button
          color="accent"
          (click)="jumpMergePage()" >Merge File</button>
</mat-card>

<!-- <hr width=100% size=2 color=#bbbcbc style="FILTER: alpha(opacity=100,finishopacity=0)">  -->

<mat-spinner class="spinner-div" *ngIf="false"
                 class="spinner"
                 diameter=50>
</mat-spinner>